@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="card">
        <div class="card-body">
            <AuthorizeView>
                <NotAuthorized>
                    <span>Por favor, Inicie sesi&oacute;n<a class="fw-bolder" href="/login"> Click here</a></span>
                </NotAuthorized>

                <Authorized>
                    <img src="/imagenes/hombre-saltando.png" style="max-height:5rem;" alt="Imagen no disponible..." />
                    <span>Se inici&oacute; como <b>@context.User.Identity?.Name</b>, <a class="fw-bolder" href="/logout">Click aqu&iacute;</a> para cerrar sesi&oacute;n.</span>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</div>
